@import './fonts';
@import './helper';
@import './reset';
@import './colors';
@import './custom-grid';

.row-of-icons, .row-of-icons::after, .row-of-icons::before {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
  }

  .force-select , .force-select::after, .force-select::before{
    -webkit-user-select: all;  /* Chrome 49+ */
    -moz-user-select: all;     /* Firefox 43+ */
    -ms-user-select: all;      /* No support yet */
    user-select: all;          /* Likely future */
  }
